
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<style> @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300;1,400&display=swap'); </style> 
    

<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fa-solid fa-bars"></i>
    </label>
    <a>
        <img src="../../../assets/logo" alt="" class="logo">
    </a>
    <ul>
        <li [routerLink]="[('projetcs')]"><span>Home </span></li>
        <li><span>Projects</span></li>
        <li><span>Posts </span></li>
        <li><span>Contact </span></li>
    </ul>
</nav>

